VITE_APPWRITE_URL = https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID = 65e2148d2e99a8523593
VITE_APPWRITE_DATABASE_ID="65e215871a146f0234f0"
VITE_APPWRITE_COLLECTION_ID="65e215aad4f870f0ea80"
VITE_APPWRITE_BUCKET_ID="65e2184d2e0eaae0436b"